.kepala {
  margin-left: 800;
  margin-top: 20;
  height:200;
  animation-name: fadeInLefBig;
  
}

.kebutuhan {
  margin-top: 1;
}

@keyframes kepala {
from {
  opacity: 0;
  transform: translate3d(-2000px, 0, 0);
}

to {
  opacity: 1;
  transform: translate3d(0,0,0);
  }

}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.column {

  float: left;
  width: 300;
  padding: 10px;
  margin-left: 225;
  height: 400;
  max-block-size: 300;
   

}

body {
    background: 
      linear-gradient(
        hsl(200, 50%, 80%) 0%, 
        hsl(200, 30%, 95%) 75%)
    ;
    display: block;
  }


.row ::after {
  content: "";
  display: table;
  clear: both;
}

h1 {
  text-align: center;
}

img {
  display: block;
  width: 300;
}

button {
 display: block;
 width: 300;
 margin-bottom: 22;
}

p {
  text-align: center;
}